<h1><%= @user.email%></h1>
<div class="col-lg-12">

    <div class="col-lg-6" style="border: 1px solid">
      <h3>Casual: </h3>
        <div >
          <span>Leave Left: <%= @user.total_casual_left %> Hours</span>
        </div>
        <div >
          <span> Leave Consumed: <%= @user.total_casual_consume %> Hours</span>
        </div>
    </div>

  <div class="col-lg-6" style="border: 1px solid">
    <h3>Sick: </h3>
        <div >
          <span> Leave Left: <%= @user.total_sick_left %> Hours</span>
        </div>
        <div >
          <span> Leave Consumed: <%= @user.total_sick_consume %> Hours</span>
        </div>
    </div>
</div>
