<%= form_for(@leave) do |f| %>
  <% if @leave.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leave.errors.count, "error") %> prohibited this leafe from being saved:</h2>

      <ul>
      <% @leave.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :leave_type %><br>
    <%= f.select :leave_type, options_for_select([['Casual','CASUAL'], ['Sick', 'SICK']]), {:prompt => 'Leave Type'}, class: "form-control custom" %>
  </div>
  <div class="field">
     <%= f.label :content, "Your Message" %><br>
     <%= f.text_area :content, :rows => 10,  class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.text_field :start_date,:class => "form-control custom-small datepicker"%>
  </div>

  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.text_field :end_date, :class => "form-control custom-small datepicker" %>
  </div>

  <div class="field">
    <span class="text-info">
      Total Calculated days: <span class="js-days-count">0 </span>
      Total Calculated minutes: <span class="js-minutes-count">0 </span>
    </span>
  </div>

    <div class="actions">
    <%= f.submit  "Apply", class: "btn btn-primary" %>
  </div>
<% end %>

<script type="text/javascript">
  $(function(){
      var leave_path = "<%= count_leave_path() %>";
      $("#leave_end_date, #leave_start_date").change(function(){
          if ($("#leave_start_date").val() && $("#leave_end_date").val()) {
              var path = "?start=" + $("#leave_start_date").val() + "&end=" + $("#leave_end_date").val();
              $.get(leave_path + path);
          }
      });

  })
</script>
