<%= form_for(@leave) do |f| %>
  <% if @leave.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leave.errors.count, "error") %> prohibited this leafe from being saved:</h2>

      <ul>
      <% @leave.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :leave_type %><br>
    <%= f.select :leave_type, options_for_select([['Casual','CASUAL'], ['Sick', 'SICK']]), {:prompt => 'Leave Type'} %>
  </div>
  <div class="field">
     <%= f.label :content %><br>
     <%= f.text_area :content, :rows => 15, :cols => 50 %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
